<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="suite" verbose="1" >
  <test name="tests">
    <classes>
      <class name="org.osgimanager.domain.BundleManifestTest" />
      <class name="org.osgimanager.domain.VersionRangeTest" />
    </classes>
  </test>
</suite>